/* common styles */
.center {
    margin-left: auto;
    margin-right: auto;
  }

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(45deg, #307c26, #298146c2, #307c26);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contentBox {
    margin: auto;
    font-family: "Helvetica";
    padding: 10px;
    max-width: 1280px;
}

#karmniczek_obrazek {
    border: 7px solid #492c04e8;
    position: relative;
    width: 300px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px
}

/* form */
.form_h2 {
    text-align:center;
    color: white;
    font-size: 26px;
    text-shadow: 3px 3px black;
    font-weight: bold;
    letter-spacing: 4px;
}

.form_label {
    color: white;
    font-size: 17px;
    letter-spacing: 2.5px;
    text-shadow: 2px 1px black;
    font-weight: bold;
}

.form_input {
    padding: 8px 12px;
    border: none;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.form_button {
    font-family: "Helvetica";
    border: none;
    background-color: rgb(194, 194, 194);
    padding: 10px 16px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.5px;
    display: inline-block;
    border-radius: 12px;
    text-align: center;
    position: relative;
    left: 45.5%;
    font-size: 16px;
    cursor: pointer;
}

.form_button:hover {
    background-color: rgb(168, 168, 168, 0.816);
}
.form_button:active {
    background-color: rgb(168, 168, 168, 0.816);
    transform: translateY(3px);
}

/* titles */
.title{
    color: white;
    font-size: 26px;
    text-shadow: 3px 3px black;
    font-weight: bold;
    letter-spacing: 4px;
}

/* tables */
.formTable {
    border-spacing: 15px;
}

.input_table {
    padding: 8px 12px;
    border: none;
    border-radius: 12px;
    width: 40%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.mrpTable {
    color: white;
    text-shadow: 1.5px 1.5px black;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px 
rgba(0,0,0,0.1);
    width: 800px;
    height:70px;
    background-color: #9e8460d3; 
    border:rgba(0, 0, 0, 0.548) 3px solid;
}
.mrpTable:hover {
    background-color: #855e29a2; 
}

.table_header{
    background-color: #5c4627e8; 
}

.mrpDescription{
    color: rgb(255, 255, 255);
    text-shadow: 1.5px 1.5px black;
    text-align: left;
    max-width: 800px;
    margin-left: 1.5%;
    margin-top: 7px;
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
    padding: 2px 0;
}

.mrpDescription_text{
    color: rgb(255, 255, 255);
    text-shadow: 1.5px 1.5px black;
    text-align: left;
    font-size: 17px;
    font-weight: bold;
    margin-top: 0.5%;
}

.mrpDescription_input{
    padding: 8px 12px;
    border: none;
    border-radius: 12px;
    margin-left: 10px;
    margin-right: 70%;
    width: 70px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#authors_bar {
    background-color: #38a16c49; 
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin-top: 5%;
    width: 100%;
    overflow: hidden;
    position: relative;
    bottom: 0;
}

#authors_bar > div {
    color: white;
    text-shadow: 1.5px 1.5px black;
    vertical-align: top;
    font-family: "Helvetica";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
}

#ptaszek_uwu {
    width: 40px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}