/* common styles */
.center {
    margin-left: auto;
    margin-right: auto;
  }

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(45deg, #0d2e21, #0d5c44);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contentBox {
    margin: auto;
    font-family: "Helvetica";
    padding: 10px;
}

#karmniczek_obrazek {
    border: 7px solid #492c04e8;
    width: 300px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px
}

/* form */
.form_h2 {
    text-align:center;
    color: white;
    font-size: 26px;
    text-shadow: 3px 3px black;
    font-weight: bold;
    letter-spacing: 4px;
}

.form_label {
    color: white;
    font-size: 17px;
    letter-spacing: 2.5px;
    text-shadow: 1px 1px black;
}

.form_input {
    padding: 8px 12px;
    border: none;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.form_button {
    font-family: "Helvetica";
    border: none;
    background-color: rgb(194, 194, 194);
    padding: 10px 16px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    text-align: center;
    position: absolute;
    left: 46%;
    font-size: 16px;
    cursor: pointer;
}

.form_button:hover {
    background-color: rgb(168, 168, 168, 0.816);
}
.form_button:active {
    background-color: rgb(168, 168, 168, 0.816);
    transform: translateY(3px);
}

/* titles */
.title{
    color: white;
    font-size: 26px;
    text-shadow: 3px 3px black;
    font-weight: bold;
    letter-spacing: 4px;
}

/* tables */
.formTable {
    border-spacing: 15px;
}

.input_table {
    padding: 8px 12px;
    border: none;
    border-radius: 12px;
    width: 40%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.mrpTable {
    color: white;
    text-shadow: 3px 3px black;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px 
rgba(0,0,0,0.1);
    width: 800px;
    height:70px;
    background-color: #8d6021d3; 
    border:rgba(0, 0, 0, 0.548) 3px solid;
}
.mrpTable:hover {
    background-color: #493110a2; 
}

.table_header{
    background-color: #492c04e8; 
}

.mrpDescription{
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px black;
    text-align: left;
    width: 100%;
    padding-left: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.mrpDescription_text{
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px black;
    text-align: left;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
}

.mrpDescription_input{
    padding: 8px 12px;
    border: none;
    border-radius: 12px;
    margin-left: 10px;
    width: 70px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}